<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/848249e791.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="header-logo">
                    <img src="static/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <form action="#" method="GET" class="form">
                    <div class="input">
                        <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="searchbar">
                    </div>
                    <div class="submit">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <p class="body-txt"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul class="nav1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav2">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>            
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="static/images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>


        <main>
        <div class="login-form">
            <form action="home.html" method="post" class="login">
                <h3> Ingresá a tu cuenta de MercadoLiebre  </h3>
                <label for="user">Ingresá tu usuario: </label>
                <input type="text" name="user" id="user" placeholder=" Nombre de usuario " required>
                <label for="password">Ingresá tu contraseña: </label>
                <input type="password" name="password" id="password" placeholder=" Contraseña" minlength="8" required>
                <span class="error-message"> *Debe tener 8 carácteres como mínimo </span>
                <a href="/home"><button type="button" class="login-button"> Ingresar </button></a>
            </form>
        </div>
        </main>


        <br>
        <footer>
    <div class="footer-box">
    <div class="footer1"><div class="footer-icons"><i class="fa-solid fa-credit-card"></i></div>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</h4></div>
    <div class="footer2"><div class="footer-icons"><i class="fa-solid fa-gift"></i></div>
    <h3>Envío gratis desde $ 2.500</h3>
    <h4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</h4></div>
    <div class="footer3"><div class="footer-icons"><i class="fa-solid fa-user-shield"></i></div>
    <h3>Seguridad, de principio a fin</h3>
    <h4>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</h4>
    </div>
    </div>
    <br>
    <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    
        </footer>
    </body>
</html>